
h1 {
        color: white;
        text-align: center;
        font-size:xx-large;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 196, 225);
    color: white;
}

#grid-container{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
   
}

#grid-container:hover {
    cursor: pointer;
}

.cell {
    color: pink;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(231, 148, 162);
    border-radius: 20%;
    background-color: white;
}

#reset{
    width: 200px;
    height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
    height: 70px;
    width: 70px;
}

